/* General Layout and Container Styles */
.container {
  margin-top: 80px; /* Adjusted to make space for the navbar */
  padding: 20px;
}

/* Header and Navigation Bar Styling */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2c6b2f; /* Greenish background */
  z-index: 10;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
  color: #f9fafb; /* Lighter text color on hover */
  transform: scale(1.1);
}

/* Page Heading Styles */
h1 {
  text-align: center;
  color: #2c6b2f;
  font-size: 40px;
  font-weight: 700;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Footer Styling */
footer {
  background-color: #2c6b2f;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 300;
}

footer p {
  margin: 0;
  font-size: 14px;
}
